{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "parser": "babel-ts",
  "semi": true,
  "eslintIntegration": true,
  "importOrder": ["^react","^@mui","^(!?@)", "^@/(.*)$", "^[./]" ],
  "experimentalBabelParserPluginsList" : ["jsx", "typescript"]
}
